@model CustomerAndListAddress;
@{
}
<form method="post" enctype="multipart/form-data">
<div class="row">
    
    <div class="col-md-12 rounded border p-3">
        <h3 class="text-center mb-5"> New Customer</h3>
        
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name
                </label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Photo
                </label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" asp-for="Photo" />
                    
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone
                </label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email
                </label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Email" />
                    
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Fax
                </label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Fax" />

                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Website Address
                </label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Internet" />

                </div>
            </div>   
    

        <div class="col-md-10  mx-auto rounded border">
            <h3 class="text-center mb-3"> Office Address</h3>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">
                    Address Line
                </label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="lstAddress[0].AddressLine" />
                    
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">
                    City
                </label>
                <div class="col-sm-10">
                        <select class="form-control" asp-for="lstAddress[0].City">
                            <option value="">--</option>
                        <option value="Other">Other</option>
                        <option value="Yangon">Yangon</option>
                        <option value="Mandalay">Mandalay</option>
                        <option value="Magway">Magway</option>
                        <option value="Taunggyi">Taunggyi</option>

                    </select>

                </div>
            </div>
            <input type="hidden" value="Office" />

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">
                    Country
                </label>
                <div class="col-sm-10">
                        <select class="form-control" asp-for="lstAddress[0].Country">
                            <option value="">--</option>
                        <option value="Other">Other</option>
                        <option value="Myanmar">Myanmar</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Malaysia">Malaysia</option>
                        <option value="Phillipine">Phillipine</option>

                    </select>

                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">
                    Postal Code
                </label>
                <div class="col-sm-10">
                        <input class="form-control" asp-for="lstAddress[0].PostalCode" />

                </div>
            </div>

           </div>

            <div class="col-md-10 mx-auto rounded border">
                <h3 class="text-center mb-3"> Home Address</h3>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">
                        Address Line
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="lstAddress[1].AddressLine" />

                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">
                        City
                    </label>
                    <div class="col-sm-10">
                        <select class="form-control" asp-for="lstAddress[1].City">
                            <option value="">--</option>
                            <option value="Other">Other</option>
                            <option value="Yangon">Yangon</option>
                            <option value="Mandalay">Mandalay</option>
                            <option value="Magway">Magway</option>
                            <option value="Taunggyi">Taunggyi</option>

                        </select>

                    </div>
                </div>
                <input type="hidden" value="Home" />

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">
                        Country
                    </label>
                    <div class="col-sm-10">
                        <select class="form-control" asp-for="lstAddress[1].Country">
                            <option value="">--</option>
                            <option value="Other">Other</option>
                            <option value="Myanmar">Myanmar</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Phillipine">Phillipine</option>

                        </select>

                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">
                        Postal Code
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="lstAddress[1].PostalCode" />

                    </div>
                </div>

            </div>


    </div>



    </div>






    <div class="row" style="align-content:center">
        <div class="col-md-12 rounded border p-3">
            
                <button type="submit" class="btn btn-primary">Submit</button>
            
                <a class="btn btn-outline-primary" asp-controller="Customers" asp-action="Index" role="button">
                    Cancel
                </a>
            
        </div>
    </div>


</form>


